<html ng-app="crudApp">
<head>
	<title>AngularJS CRUD Operations Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Include Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<!-- Include main CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css"></head>
	<link href='css/bootstrap-datepicker.min.css' rel="stylesheet">
<body>
	<div class="container wrapper" ng-controller="DbController" ng-init="form={};" >
		<h1 class="text-center">AngularJS CRUD Operations Demo</h1>
		<nav class="navbar navbar-default">
			<div class="navbar-header">

				<div class="alert alert-default navbar-brand search-box">

					<button class="btn btn-primary"  ng-click="clearModal()" data-toggle="modal" data-target="#ModalLoginForm">
						Add Customer
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				</div>

				<div class="alert alert-default input-group search-box">
					<span class="input-group-btn">
						<input type="text" class="form-control" placeholder="Search Customer Details Into Database..." ng-model="search_query"></span>
				</div>
			</div>
		</nav>
		<!-- Include form template which is used to insert data into database -->
		<!-- Form used to add new entries of employee in database -->
		<div ng-include src="'templates/form.html'"></div>

		<!-- Include form template which is used to edit and update data into database -->

		<div ng-include src="'templates/editForm.html'"></div>

		<!-- Table to show employee detalis -->
		<div class="table-responsive">
			<table class="table table-hover">
				<tr>
					<th>Customer ID</th>
					<th>Name</th>
					<th>Type</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Date_entered</th>
				</tr>
				<tr ng-repeat="detail in details| filter:search_query ">
					<td>{{detail.customer_id}}</td>
					<td>{{detail.name}}</td>
					<td>{{detail.type}}</td>
					<td>{{detail.email}}</td>
					<td>{{detail.phone}}</td>
					<td>{{detail.date_entered}}</td>
					<td>
						<button class="btn btn-warning" ng-click="editInfo(detail)" title="Edit">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
					</td>
					<td>
						<button class="btn btn-danger" ng-click="deleteInfo(detail)" title="Delete">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- Include jQuery library -->
	<script src="js/jquery-3.1.1.min.js"></script>
	<!-- Include AngularJS library -->
	<script src="js/angular.min.js"></script>
	<!-- Include Bootstrap Javascript -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Include controller -->
	<script src="js/angular-script.js"></script>

	<script src="js/bootstrap-datepicker.min.js"></script>

<!-- 	<script>
$(document).ready(function () {

$("#dob").datepicker();

});
   </script> -->
</body>
</html>